

.ofertas .card-group .allCard{
    margin: 0 auto;
    width: 31.5%;
    text-align: center;
}

.ofertas .card-group .allCard p{
    text-align: center;
   padding: 10%;
    margin: auto;
    color:#858585 ; 
    height: 170px;
} 
.allCard img {
    height: 71px; 
}


.ofertas .card-group .cardDown{
    margin: 42px auto 0 auto; 
    
}

.ofertas .card-group .cardDown img{
    width: 23.5%; 
    margin-bottom: 20px; 
    height: 18%;
}

.ofertas .card-group .of{
    height: 100%;
}

.ofertas .card-group .cardUp p{
    color: #FFFFFF;
} 
.ofertas .card-group .cardUp img{ 
    width: 25%; 
    margin-bottom: 20px;  
    height: 25%;
    
   
}
.ofertas .card-group .cardUp {
    color: #FFFFFF; 
    height: 320px;
}


.ofertas .allCard .of{
    border: 3px solid #002100;
    background-color: #002100;
    border-radius: 20px;
}

.ofertas .allCard .ofDown{
    border: 3px solid #1a6100;
    border-radius: 20px;
}
.ofertas .card-group{
    width: 70%;
    margin: 0 auto;
} 

.ofertas .card-group .allCard h3 {
  padding-top: 30px;
 } 

