header .carousel-item img{
  height: 100vh;
  width: 100%; 
  z-index: -1;
}
@media only screen and (max-device-width: 680px) {
  header .carousel-item img{
    height: 50vh;
  }

  header .carousel-button{
    margin-top: -50%;
  }
}


.texto-carousel{
  position: relative; 
  width: 30%;
  height: 400px;
  
  margin-top: -450px; 
  z-index: 2; 
  margin-left: 160px;
} 

.texto-carousel h2 {
color: white;
width: 200px;
}

.texto-carousel p {
  color: #CCCBCB; 
  width: 350px;
} 
.texto-carousel span { 
  color: #49d49f;

}

.texto-carousel button {
  text-align: center; 
  margin-left: 77px; 
  background: none; 
  color: aliceblue; 
  font: 'Lato', Verdana, Helvetica, sans-serif;
  width: 150px;
  font-style: normal;
  border-radius: 28px; 
  border: 2px solid #49d49f; 
  height: 33px; 
  margin-top: 10px; 
} 
.texto-carousel button a{
  color: aliceblue;
  text-decoration: none;
}


.texto-carousel button:hover {
  border: none;  
  background-color: #49d49f;
  color: white;
  transition-duration: 0.5s;
} 

.texto-carousel button:hover img{
  background-color: #49d49f;
} 