.carousel-item img{
  height: 100vh;
  width: 100%; 
 
}

.carousel-item .carousel-caption{
  margin: 0 60% 12% 0;
  width: 20%;
}

.carousel-caption p{
  text-align: justify;
}


.texto-carousel{
  position: relative; 
  width: 30%;
  height: 400px;
  
  margin-top: -450px; 
  z-index: 2; 
  margin-left: 160px;
} 

.texto-carousel h2 {
color: white;
width: 200px;
}

.texto-carousel p {
  color: white; 
  width: 350px;
} 
.texto-carousel span { 
  color: #49d49f;

}

.texto-carousel button {
  text-align: center; 
  margin-left: 77px; 
  background: none; 
  color: aliceblue; 
  font: 'Lato', Verdana, Helvetica, sans-serif;
  width: 150px;
  font-style: normal;
  border-radius: 28px; 
  border: 2px solid #49d49f; 
  height: 33px; 
  margin-top: 10px; 
} 


.texto-carousel button:hover {
  border: none;  
  background-color: #49d49f;
  color: white;
  transition-duration: 0.5s;
} 

.texto-carousel button:hover img{
  background-color: #49d49f;
} 