*{
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}

body{
    background-color: #f3efef;
}

.toCenter{
    max-width: 1366px;
    margin: 0 auto;
}

.line{
    width: 50%;
    background-color: #858585;
    height: 3px;
    border-radius: 10px;
    margin: 5% auto 0 auto; 
}
.inLine {
    text-align: center;
    margin: -15px auto 0 auto;
    background-color: white;
    width: 200px;  
    color: #858585; 
    
} 

.about{
    margin-top: 200px;
}


.about .inLine{
    width: 10%;
    background-color: #f3efef;
}
.about p{
    text-align: center;
    width: 70%;
    margin: 2% auto 0 auto; 
    font-family: 'Shippori Antique', sans-serif;
    font-weight: bold;
    font-size: 18px; 
    font-weight: 200;
    color: #858585; 
}

.bgOthers{
    background-color: #f3efef;
    height: 100%;
    margin: 0 auto;
}
.feedCont{
    transform: skewY(0deg); 
}
.bgFeed .others{
    transform: skewY(3deg);
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
}

.feedback .others .wcTrans{
    width: 35%;
    height: 30%;
    margin-top: 5%;
    margin-left: 5%;
}
.feedback .others .wcLogo{
    width: 5%;
    height: 5%;
    margin-top: -13%;
    margin-left: -8%;
    
}
.feedback .congrats{
    float: right;
    margin: 100px 0 0 0;
    height: 200px;
    width: 600px;
    transform: skewY(3deg);
    background-color: #DAF1D5;
;
}
.feedback .congrats h3{
    text-align: right;
    float: right;
    font-size: 145%;
    padding: 8% 5% 0 0;
    width: 50%;
    font: 'Lato', Verdana, Helvetica, sans-serif;
}

@media only screen and (max-device-width: 768px) {
    .feedback .congrats h3{
        font-size: 125%;
    }
}
.feedback .whiteCred{
    width: 20%;
    float: left;
    margin-top: -250px;
    margin-left: 18%;
    transform: skewY(0deg);
}
.feedback .whiteCred h3{
    color: white;
    font: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 185%;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;

}

.feedback .whiteCred span{
    color: #49d49f;
}


.feedCont .cels{
    position: fixed;
    width: 100%;
}
.feedCont .celImage{
    display: block;
    margin: -335px auto 0 auto;
    width: 247px;
}
.feedCont .celImage2{
    display: block;
    margin: -450px auto 0 55%;
    width: 167px;

}


.feedback .bgFeed{
    background-color: #002100;
    height: 400px;
    transform: skewY(-3deg);
}


.lineFeed{
    background-color: #002100;
    transform: skewY(-3deg);
    position: static;
    margin-top: 5px;
    height: 8px;    
}

.contat{
    text-align: center;
    margin: 5% auto 0 auto;
}

.contat i{
    font-size: 42px;
    margin: 0 1% 0 1%;
    color: #1a6100;
}
.footer{
    width: 100%;
    color: white;
    background-color: rgba(0,23,0,1); 
    height: 100px; 
}

.footer p{
    text-align: justify;
    font: 'Lato', Verdana, Helvetica, sans-serif;
    transform: skewY(1deg); 
}


.feedback{
    margin-top: 200px;
} 
.footer2{
    width: 100%;
    height: 8px;   
   background-color: rgba(0,23,0,1);
   margin-bottom: 10px; 
   transform: skewY(-0.8deg); 
} 
.footer3 {
    width: 100%;
    height: 15px; 
   background-color: rgba(0,23,0,1); 
   transform: skewY(-1deg);

} 
.footer .row p{
    text-align: left; 
    width: 300px; 
    color: white; 
    margin-top: 20px;
}

.footer3 img{
    margin: 30px auto 0 auto;
    float: right;
    height: 50px;
    width: 314px;
}

.fechado .carousel-inner{
    margin-top: 20px;
    margin-bottom: 50px;
}
.fechado .carousel-inner .carousel-item{
    height: 100px;
}
.fechado .carousel-inner img{
    width: 70%;
    margin: 0 auto 0 15%; 
    
}
.fechado button{
    opacity: 1;
    
}
.fechado button i{
    color: #002100;
}

.whatsFixed{
    position: absolute;
    opacity: 0;
}

.whatsFixed i{
    padding: 15px 17px;
    font-size: 40px;
    position: absolute;
    border-radius: 50%;
    color: #49d49f;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #49d49f;
}

.whatsFixed i:hover{
    border: 2px solid #49d49f;
    background-color: #49d49f;
    color: #f3efef;
    transition-duration: 0.5s;
}

.change{
    position: fixed;
    display: block;
    margin: -500px auto 0 90%;
    opacity: 1;
    transition-duration: 0.5s;
    z-index: 2;
}   