*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #f3efef;
}

.toCenter{
    max-width: 1366px;
    margin: 0 auto;
}

.line{
    width: 50%;
    background-color: black;
    height: 3px;
    border-radius: 10px;
    margin:3% auto 0 auto;
}
.inLine {
    text-align: center;
    margin:-1% auto 0 auto;
    background-color: white;
    width: 15%;
    border-radius: 50%;
}

.about .inLine{
    width: 10%;
    background-color: #f3efef;
}
.about p{
    text-align: center;
    width: 80%;
    margin: 2% auto 0 auto;
}

.bgOthers{
    background-color: #f3efef;
    height: 100%;
    margin: 0 auto;
}

.contFeed img{
    margin: 50px;
    width: 300px;
    height: 200px;
    transform: skewY(3deg);
}

.contFeed h4{
    margin: -150px 0 0 150px;
    width: 300px;
    height: 200px;
    transform: skewY(3deg);
    color: white;
}

.contFeed .grats{
    height: 246px;
    width: 523px;
    background-color: #DAF1D5;
    float: right;
    margin-top: -250px;
    transform: skewY(3deg);
}
.grats h4{
    margin: 30px 100px 0 0;
    float: right;
    transform: skewY(0deg);
    text-align: right;
    width: 250px;
    color: black;
}
.bgFeed{
    background-color: #002100;
    height: 502px;
    transform: skewY(-3deg);
}

.lineFeed{
    background-color: #002100;
    margin-top: 2px;
    height: 3px;
    transform: skewY(-3deg);
}

.contat{
    text-align: center;
    margin: 5% auto 0 auto;
}

.contat i{
    font-size: 42px;
    margin: 0 1% 0 1%;
    color: #1a6100;
}
.footer{
    width: 100%;
    color: white;
    background-color: rgba(0,23,0,1);
}

.footer p{
    text-align: justify;
}

.footer h5{
    margin: auto;
    float: right;
}




