*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #f3efef;
}

.toCenter{
    max-width: 1366px;
    margin: 0 auto;
}

.line{
    width: 50%;
    background-color: #858585;
    height: 3px;
    border-radius: 10px;
    margin: 5% auto 0 auto; 
}
.inLine {
    text-align: center;
    margin: -15px auto 0 auto;
    background-color: white;
    width: 200px;  
    color: #858585; 
    
} 



.about .inLine{
    width: 10%;
    background-color: #f3efef;
}
.about p{
    text-align: center;
    width: 70%;
    margin: 2% auto 0 auto; 
    font-family: roboto; 
    font-size: 18px; 
    font-weight: 200;
}

.bgOthers{
    background-color: #f3efef;
    height: 100%;
    margin: 0 auto;
}

.contFeed img{
    margin: 50px;
    width: 600px;
    height: 340px;
    transform: skewY(3deg); 
    position: relative; 
    margin-left: -50px;

} 

.contFeed .transp{
    width: 72px; 
    height: 50px; 
    position: absolute; 
    margin-left: 450px;
}

.contFeed h2{
    margin: -290px 0 0 150px; 
    margin-left: 150px;
    width: 280px;
    height: 200px;
    transform: skewY(3deg);
    color: white;
    font-size: 48px; 
} 

.contFeed h2 span{
    color: #49d49f;
}

.contFeed .grats{
    height: 246px;
    width: 723px;
    background-color: #DAF1D5;
    float: right;
    margin-top: -250px;
    transform: skewY(3deg);
}
.grats h4{
    margin: 70px 169px 0 0;
    float: right;
    transform: skewY(0deg);
    text-align: right;
    width: 250px;
    color: black; 
    height: 156px ;
    font: 'Lato', Verdana, Helvetica, sans-serif;
}
.bgFeed{
    background-color: #002100;
    height: 502px;
    transform: skewY(-3deg);
}

.lineFeed{
    background-color: #002100;
    margin-top: 2px;
    height: 3px;
    transform: skewY(-3deg);
}

.contat{
    text-align: center;
    margin: 5% auto 0 auto;
}

.contat i{
    font-size: 42px;
    margin: 0 1% 0 1%;
    color: #1a6100;
}
.footer{
    width: 100%;
    color: white;
    background-color: rgba(0,23,0,1); 
   
    height: 100px; 
   
    
}

.footer p{
    text-align: justify;
}

.footer h5{
    margin: auto;
    float: right;
} 

.fechado {
    margin-top: 100px; 
    margin-bottom: 100px;
} 

.fechado img{
    margin-top: 65px;
}

.feedback{
    margin-top: 200px;
} 
.footer2{
    width: 100%;
    height: 3px; 
   background-color: rgba(0,23,0,1);
   margin-bottom: 10px; 
   transform: skewY(-0.8deg); 
} 
.footer3 {
    width: 100%;
    height: 15px; 
   background-color: rgba(0,23,0,1); 
   transform: skewY(-1deg);

} 
.footer .row p{
    text-align: left; 
    width: 300px; 
    color: white; 
    margin-top: 20px;
}



